// Home page content
// -------------------------

// .jumbotron {
// 	color: white;
// 	padding: 30px 15px;
// 	h1 {
// 		font-size: 40px;
// 		color: black;
// 	}
// 	.btn-tarr {
// 		font-size: 18px;
// 	}
// }
.main-content {
	background: white;
	padding: 2em 0;
}
.front {
	.main-text {
		font-size: 28px;
	}
}

// BRANDING and NAV
// -------------------------
.brand {
	@include make-md-column(6);
}
.navigation {
	@include make-md-column(6);
}
.intro-text {
	@include make-sm-column(8);
	@include make-sm-column-offset(2);
	padding-top: 2em;
	padding-bottom: 2em;
}

// FOOTER
// -------------------------
footer {
	padding: 2em 0;
	color: $medium-gray;
	p { font-size: 16px; }
	a, a:hover {
		color: white;
	}
}

// Skip to content link
// http://webaim.org/techniques/skipnav/
// ---------------------------------------
#skiptocontent a {
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:transparent;
	-webkit-transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100;
}

// FEED VIEWER
// -------------------------
.social-feed {
	background: $light-gray;
	padding: 1em 0;
	.panel-body {
		img {
			max-width: 100%;
			height: auto;
			display: block;
		}
		p {
			font-size: 16px;
		}
	}
	.panel {
		border-radius: 0;
		box-shadow: none;
		border: 0;
		// height: 250px;
		overflow: hidden;
	}
}
.social-label {
	padding: 6px 8px;
	display: inline-block;
	i {
		color: white;
		font-size: 24px;
	}
}
.social-twitter {
	background: $twitter;
}
.social-youtube {
	background: $youtube;
}
.social-blog {
	background: $blog;
}
.social-instagram {
	background: $instagram;
}
.social-flickr {
	background: $flickr;
}
a:hover {
	.social-label {
		background: black;
	}
}

.item { width: 20%; }


// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	// .jumbotron {
	// 	background: url("../images/2891668.jpg") no-repeat;
	// 	-webkit-background-size: cover;
	// 	-moz-background-size: cover;
	// 	-o-background-size: cover;
	// 	background-size: cover;
	// 	min-height: 600px;
	// 	color: $dark-gray;
	// 	padding: 30px;
	// }
	.front {
		.main-text {
			background: rgba(255, 255, 255, 0.3);
			padding: 30px;
		}
	}
	.main-text {
		background: rgba(255, 255, 255, 0.9);
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {

}